<div class="app-container">
  <h1>About Hannah</h1>
  <hr>

  <div class="row">
    <div class="col-md-4">
      <%= image_tag "green-succulent.jpg", width: 250, alt: "profile image" %>
    </div>
    <div class="col-md-8">
      <p>
        Full Stack Web Developer with a certificate in Full Stack Web Development through the University of Arizona. 
        Demonstrated ability to work within teams of developers and non-technical employees to complete various aspects of a project within a set deadline.
      </p>
      <p>
        I have coded email templates compatible with all major email providers and integrated third-party APIs with SQL database in a web app. 
        I have a strong understanding of version control using Git, experience building Javascript based web applications using React and Node.js, 
        experience analyzing business and team needs in order to recommend and implement software and other solutions, and willingness to read documentation, learn, and implement new software and languages.
      </p>
    </div>
  </div>
</div>
